name: Deploy to Docker

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, Linux, X64]

    steps:
      - name: Test version
        run: echo "VERSION 3"

      # 1. Checkout kode dari GitHub
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Ensure Docker is running
      - name: Ensure Docker is running
        run: |
          service docker start || true

      # 3. Docker info
      - name: Docker info
        run: docker info

      # 4. Pull latest images
      - name: Pull latest images
        run: docker compose pull || true

      # 5. Stop and clean old containers
      - name: Stop existing containers
        run: |
          docker compose down || true
          docker rm -f mysql-db || true
          docker rm -f phpmyadmin || true
          docker rm -f php-app || true

      # 6. Build ulang project
      - name: Build images
        run: docker compose build --no-cache

      # 7. Start container baru
      - name: Start containers
        run: docker compose up -d

      # 8. Check running status
      - name: Check running containers
        run: docker ps -a
